<!-- Simple pop-up dialog box containing a form -->

<footer id="footer" class="{{ theme }}-blue">
  <div class="page80" style="border-radius: 0.5rem; padding: 20px 20px;">
    <div class="parent">
      <div class="boxl" style="line-height:0.25em;">
        <p class="balsamiq inline">Say Hello</p>
        <h2 class="inline"><a href="https://twitter.com/tamccullough" target="_blank"><i class="text-white fa fa-twitter"></i></a></h2>
        <output aria-live="polite"></output>
      </div>
      <div class="box">
        <div class="textright" style="width:100%;line-height:0.25em;">
          <p>wip basic Flask website {{ year }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<output aria-live="polite"></output>
