{% extends 'base.html' %}
{% block content %}
<!-- !PAGE CONTENT! -->
{% if md == 'DK' %}
{% set div_colour = 'clean-light' %}
{% set div_title = 'clean-t-red' %}
{% set div_title2 = 'clean-t-purple' %}
{% set div_button = 'clean-red' %}
{% else %}
{% set div_colour = 'mono-light' %}
{% set div_title = 'clean-t-yellow' %}
{% set div_title2 = 'clean-t-red' %}
{% set div_button = 'clean-yellow' %}
{% endif %}
<!-- app display -->
<div class="container">
<div class="bg_grad">
<div class="spacer"></div>
<div class="page80">
<!-- about section -->
      <div class="spacer"></div>
      <h1 class="text-white">Linked Route</h1>
      <div class="{{ div_colour }} borderh">
        <div>
          <div class="parent">
            <div class="box">
              <div class="spacerL"></div>
              <div class="spacerL"></div>
              <h1 class="coiny {{ div_title2 }} textcenter" style="font-size:4em;">Routes</h1>
            </div>
            <div class="boxl">
              <h3 class="{{ div_title2 }}">Simple</h3>
              <p>Make new routes in the main.py file</p>
                </div>
              </div>
              <div class="spacerL"></div>
            </div>
          </div>
<!-- about section -->
  </div>
</div>
                  <!-- END OF mission content -->


                  {% endblock %}
